/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #1c1c1c;
  height: 100%;
}

#leftPanel500pxClosed{
  display: none;
}

@font-face {
  font-family: 'TikTok Font Bold';
  src: url('/fonts/TikTok Sans Bold.woff2') format('woff2'),
  url('/fonts/TikTok Sans Bold.woff') format('woff'),
  url('/fonts/TikTok Sans Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TikTok Font Regular';
  src: url('/fonts/TikTok Sans Regular.woff2') format('woff2'),
  url('/fonts/TikTok Sans Regular.woff') format('woff'),
  url('/fonts/TikTok Sans Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Running Writing';
  src: url('/fonts/MeeMee Kids Lettering.woff2') format('woff2'),
  url('/fonts/MeeMee Kids Lettering.woff') format('woff'),
  url('/fonts/MeeMee Kids Lettering.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#runningWritingHeadClose{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 1%;
  top: 0;
  color: #888888;
  font-family: "Running Writing", serif;
  font-size: 28px;
  opacity: 0.3;
}
#runningWritingBodyOpen{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 3%;
  top: 8%;
  color: #888888;
  font-family: "Running Writing", serif;
  font-size: 28px;
  opacity: 0.3;
}
#runningWritingH1Open{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 3%;
  top: 21%;
  color: #888888;
  font-family: "Running Writing", serif;
  font-size: 28px;
  opacity: 0.3;
}
#runningWritingH1Close{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 5%;
  left: min(85%, 850px); /* Will be the lesser of 40% or 300px */
  top: 15%;
  color: #888888;
  font-family: "Running Writing", serif;
  font-size: 28px;
  opacity: 0.3;
}
*, *::before, *::after {
  box-sizing: border-box;
}
#runningWritingPOpen{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 3%;
  top: 22%;
  color: #888888;
  font-family: "Running Writing", serif;
  font-size: 28px;
  opacity: 0.3;
}

#runningWritingPClose{
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 3%;
  top: 25%;
  color: #888888;
  font-family: "Running Writing", serif;
  font-size: 28px;
  opacity: 0.3;
}








#heroshot{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

#border{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100vh;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

#header1{
  top: 216px;
  position: relative;
  font-size: 100px;
  color: white;
}
#header2{
  font-size: 100px;
  top: 216px;
  position: relative;
  color: white;
  margin-top: -30px;
}
.red {
  font-size: 120px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #fd3851; /* Primary color for the text */
  text-shadow: -7px 0 0 #00dfd8; /* Blue-ish shadow effect to the left */
}
#danielText{
  margin-left: 0.3% !important;
  letter-spacing: -2px;
  display: inline-block;
  color: #ffffff; /* Primary color for the text */
  transition: transform 0.2s ease;
  /* Initial state */
  transform: translateY(0);
}
#header3{
  font-size: 100px;
  top: 216px;
  position: relative;
  color: white;
  margin-top: -30px;
}
#paraOne{
  position: relative;
  color: #555555;
  font-size: 24px;
  top: 240px;
  font-family: "TikTok Font Regular", serif;
  margin-left: 3%;
}
#header1, #header2, #header3, .red, #danielText{
  margin-left: 3%;
  font-family: "TikTok Font Bold", serif;
}
.bounce {
  animation: bounce 0.5s ease forwards;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


#leftUpperPanel{
  background-color: black;
  outline: gold 2px dotted;
  position: absolute;
  height: 25%;
  width: 10%;
  top: 0;
  left: 0;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}
#leftPanel500px{
  display: none;
}
#letter{
  position: absolute;
  height: 25%;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 120px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #fd3851; /* Primary color for the text */
  text-shadow: -7px 0 0 #00dfd8; /* Blue-ish shadow effect to the left */
  font-family: "TikTok Font Bold", serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 2;
}
#text{
  position: absolute;
  height: 25%;
  width: 100%;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "TikTok Font Regular", serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 2;
  color: #555555;
}


#leftLowerPanel{
  background-color: #181818;
  position: absolute;
  height: 76%;
  width: 10%;
  top: 25%;
  left: 0;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}
#aboutButtonLeftPanel, #projectsButtonLeftPanel, #contactButtonLeftPanel {
  background-color: transparent;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  box-shadow: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  outline: none;
  text-decoration: none;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  border-style: solid; /* Explicitly set the border style */
  border-width: 1px; /* Explicitly set the border width */
  border-color: #555555; /* Set the border color for all sides */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}
#aboutButtonLeftPanel:hover,
#aboutButtonLeftPanel:focus,
#aboutButtonLeftPanel:active {
  cursor: pointer;
  outline: none;
  border-color: #555555; /* Maintain the border color on hover, focus, and active */
}

#projectsButtonLeftPanel:hover,
#projectsButtonLeftPanel:focus,
#projectsButtonLeftPanel:active {
  cursor: pointer;
  outline: none;
  border-color: #555555; /* Maintain the border color on hover, focus, and active */
}

#contactButtonLeftPanel:hover,
#contactButtonLeftPanel:focus,
#contactButtonLeftPanel:active {
  cursor: pointer;
  outline: none;
  border-color: #555555; /* Maintain the border color on hover, focus, and active */
}


#linkedInButton{
  position: relative;
  left: 27.5%;
  top: 2%;
  width: 30px;
  height: 30px;
}
#gitHubButton{
  position: relative;
  left: 40%;
  top: 2%;
  width: 30px;
  height: 30px;
}

#scrollDown{
  position: relative;
  margin-left: -2.1%;
  top: 17.5%;
  width: fit-content;
  color: white;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  transform: rotate(90deg);
}

#aboutSection {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1080px;
  outline: pink 2px dotted;
  display: flex;
  flex-direction: column;
}

#aboutSectionContainer {
  position: relative;
  height: 90%;
  width: 100%;
  padding-top: 140px;
  display: flex;
  flex-wrap: wrap;
}

#aboutMeHeading{
  font-family: "TikTok Font Bold", serif;
  font-size: 64px;
  color: white; /* Primary color for the text */
  position: relative;
  width: 40%;
  margin-left: 10%;
  text-align: center;
}
#textBoxAbout{
  height: 80%;
  width: 30%;
  margin-left: 15%;
  padding-top: 2%;
  position: relative;
  color: white;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}



#mySkillsHeading{
  font-family: "TikTok Font Bold", serif;
  font-size: 64px;
  color: white; /* Primary color for the text */
  position: relative;
  text-align: center;
  width: 40%;
  margin-right: 10%;
  right: 0;
}
#textBoxMySkills{
  height: 80%;
  width: 30%;
  margin-left: 10%;
  padding-top: 2%;
  position: relative;
  color: white;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  text-align: center;
}



#skillHTML, #skillCSS, #skillJS, #skillPython, #skillGithub, #skillBasicSQL, #skillJava, #skillFigma, #skillWebScraping, #skillReCaptchaAutomation, #skillIFTTTWebhook {
  background-color: #d5d5d5;
  color: #333;
  border: 1px solid #000000;
  border-radius: 20px; /* Adjust for rounded corners */
  padding: 15px 25px;
  display: inline-block;
  margin: 5px;
  font-size: 0.9em;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#projectsSection{
  outline: red 2px dotted;
  position: relative;
  height: 1080px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

#projectsSectionContainer {
  position: relative;
  height: 91%;
  width: 100%;
  padding-top: 20px;
  justify-content: space-between;
}

#projectsHeading{
  font-family: "TikTok Font Bold", serif;
  font-size: 64px;
  width: 100%;
  text-align: center;
  color: white; /* Primary color for the text */
  position: relative;
  padding-bottom: 50px;
}

#projectsDisplayContainer{
  position: relative;
  height: 85%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
}


#projectBoxOne{
  font-family: "TikTok Font Bold", serif;
  color: white;
  text-align: center;
  font-size: 16px;
  position: relative;
  height: 48%;
  width: 45%;
}
#projectBoxOneHead{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  width: 100%;
}
#projectOneVideo{
  width: 90%;
  height: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#projectBoxOneDescription{
  position: absolute;
  font-size: 14px;
  font-family: "TikTok Font Regular", serif;
  text-align: center;
  width: 100%;
  height: 23%;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
}
#projectOneGithub{
  position: absolute;
  top: 95%;
  color: #0000EE;
  left: 50%;
  transform: translateX(-50%);
  font-family: "TikTok Font Regular", serif;
}



#projectBoxTwo{
  font-family: "TikTok Font Bold", serif;
  color: white;
  text-align: center;
  font-size: 16px;
  position: relative;
  height: 48%;
  width: 45%;
  margin-left: auto; /* Push the box to the right */
}
#projectBoxTwoHead{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  width: 100%;
}
#projectTwoVideo{
  width: 90%;
  height: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#projectBoxTwoDescription{
  position: absolute;
  font-size: 14px;
  font-family: "TikTok Font Regular", serif;
  text-align: center;
  width: 100%;
  height: 23%;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
}
#projectTwoGithub{
  position: absolute;
  top: 95%;
  color: #0000EE;
  font-family: "TikTok Font Regular", serif;
  left: 40%;
  transform: translateX(-40%);
}
#projectTwoWebsite{
  position: absolute;
  top: 95%;
  color: #0000EE;
  font-family: "TikTok Font Regular", serif;
  left: 60%;
  transform: translateX(-60%);
}



#projectBoxThree{
  font-family: "TikTok Font Bold", serif;
  color: white;
  text-align: center;
  font-size: 16px;
  position: relative;
  height: 48%;
  width: 45%;
  margin-top: 30px;

}
#projectBoxThreeHead{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  width: 100%;
}
#projectThreeVideo{
  width: 90%;
  height: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#projectBoxThreeDescription{
  position: absolute;
  font-size: 14px;
  font-family: "TikTok Font Regular", serif;
  text-align: center;
  width: 100%;
  height: 23%;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
}
#projectThreeGithub{
  position: absolute;
  top: 95%;
  color: #0000EE;
  font-family: "TikTok Font Regular", serif;
  text-decoration: transparent;
  text-decoration-thickness: 0;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
#projectThreeGithub:hover{
  cursor: not-allowed;
}

#projectBoxFour{
  font-family: "TikTok Font Bold", serif;
  color: white;
  text-align: center;
  font-size: 16px;
  position: relative;
  height: 48%;
  width: 45%;
  margin-left: auto; /* Push the box to the right */
  margin-top: 30px;
}
#projectBoxFourHead{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  width: 100%;
}
#projectFourVideo{
  width: 90%;
  height: 68%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#projectBoxFourDescription{
  position: absolute;
  font-size: 14px;
  font-family: "TikTok Font Regular", serif;
  text-align: center;
  width: 100%;
  height: 23%;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
}
#projectFourGithub{
  position: absolute;
  top: 95%;
  color: #0000EE;
  font-family: "TikTok Font Regular", serif;
  left: 40%;
  transform: translateX(-40%);
}
#projectFourWebsite{
  position: absolute;
  top: 95%;
  color: #0000EE;
  font-family: "TikTok Font Regular", serif;
  left: 60%;
  transform: translateX(-60%);
}


#contactSection{
  outline: gold 2px dotted;
  position: relative;
  height: 1080px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

#contactHeading{
  font-family: "TikTok Font Bold", serif;
  font-size: 64px;
  width: 100%;
  text-align: center;
  color: white; /* Primary color for the text */
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
}
#contactContainer {
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically if you want */
  position: relative;
  height: 91%;
  width: 80%;
  padding-top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

#contactCardOne {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Adjust this as necessary */
}

#githubContact, #githubContactUsername, #runningWritingClickMeOne {
  /* No need for 'position: relative' if we're not positioning them absolutely */
  display: flex; /* Make these flex containers as well */
  justify-content: center; /* Center the content inside */
  align-items: center; /* Useful if these had multiple lines of text or content */
}

#githubContact {
  width: 64px;
  height: auto;
}

#githubContactUsername {
  font-family: "TikTok Font Regular", serif;
  padding-left: 25px; /* Adjust or remove as necessary for centering */
  font-size: 1.25rem;
  color: white;
}
#runningWritingClickMeOpenOne{
  width: fit-content;
  margin-left: 1%; /* Adjust or remove as necessary for centering */
  color: #a2a2a2;
  font-family: "Running Writing", serif;
  font-size: 26px;
  opacity: 0.5;
  letter-spacing: 2px;
  top: 10px;
  left: 31%;
  position: absolute;
}
#runningWritingClickMeCloseOne {
  width: fit-content;
  margin-left: 1%; /* Adjust or remove as necessary for centering */
  color: #a2a2a2;
  font-family: "Running Writing", serif;
  font-size: 26px;
  opacity: 0.5;
  letter-spacing: 2px;
  top: 325px;
  left: 69%;
  position: absolute;
}



#contactCardTwo {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 50px;
  width: 100%; /* Adjust this as necessary */
}

#gmailContact, #gmailContactUsername, #runningWritingClickMeOne {
  /* No need for 'position: relative' if we're not positioning them absolutely */
  display: flex; /* Make these flex containers as well */
  justify-content: center; /* Center the content inside */
  align-items: center; /* Useful if these had multiple lines of text or content */

}

#gmailContact {
  width: 64px;
  height: auto;
}

#gmailContactUsername {
  font-family: "TikTok Font Regular", serif;
  padding-left: 25px; /* Adjust or remove as necessary for centering */
  color: white;
  font-size: 1.25rem;
}



#contactCardThree {
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 50px;
  width: 100%; /* Adjust this as necessary */
}

#linkedInContact, #linkedInContactUsername, #runningWritingClickMeOne {
  /* No need for 'position: relative' if we're not positioning them absolutely */
  display: flex; /* Make these flex containers as well */
  justify-content: center; /* Center the content inside */
  align-items: center; /* Useful if these had multiple lines of text or content */
}

#linkedInContact {
  width: 64px;
  height: auto;
}

#linkedInContactUsername {
  font-family: "TikTok Font Regular", serif;
  padding-left: 25px; /* Adjust or remove as necessary for centering */
  font-size: 1.25rem;
  color: white;
}


#footerTest{
  background-color: #181818;
  height: 20%;
  position: relative;
  width: 100%;
}
#footerContainer{
  position: relative;
  height: 85%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#aboutFooterButton, #projectsFooterButton, #contactFooterButton{
  margin-top: 15px;
  background-color: transparent;
  font-family: "TikTok Font Regular", serif;
  font-size: 1em;
  box-shadow: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
  width: fit-content;
  height: 10%;
  border-style: solid; /* Explicitly set the border style */
  border-width: 0; /* Explicitly set the border width */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}
#aboutFooterButton:hover, #projectsFooterButton:hover, #contactFooterButton:hover{
  cursor: pointer;
}


#createdByFooter{
  font-family: "TikTok Font Regular", serif;
  top: 25%;
  font-size: 0.75em;
  padding-top: 5px;
  padding-bottom: 10px;
  color: #888888;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  height: fit-content;
  text-align: center;
  align-content: center;
}


@media only screen and (max-width: 334px) {

  #projectsSection{
    height: 120vh;
    outline: yellow 5px dotted !important;
  }
  #footerTest{
    height: 220px !important;
  }
  #aboutFooterButton, #projectsFooterButton, #contactFooterButton{
    outline: green 2px dotted !important;
  }
  #createdByFooter{
    outline: hotpink 2px dotted !important;
    position: relative;
    height: fit-content;
    padding-top: 0 !important;
    text-align: center;
    align-content: center;
    left: 12.5%;
    top: 110%;
    width: fit-content;
  }


  #projectBoxOne, #projectBoxTwo, #projectBoxThree, #projectBoxFour{
    outline: hotpink 2px dotted !important;
    height: 57%;
  }
  #projectBoxOneHead{
    outline: azure 2px dotted !important;
  }

  #projectBoxOneDescription, #projectBoxTwoDescription{
    outline: blue 2px dotted !important;
    top: 57%;
  }
  #projectOneGithub{
    outline: palegreen 2px dotted !important;
    width: 100%;
    height: fit-content;
    font-size: 0.70em;
    top: 95%;
  }
  #projectTwoGithub, #projectTwoWebsite{
    top: 95%;
    outline: greenyellow 2px dotted !important;
  }
  #projectThreeVideo, #projectFourVideo{
    top: 0;
  }
  #projectThreeGithub{
    top: 93%;
    outline: greenyellow 2px dotted !important;
  }
  #projectFourWebsite, #projectFourGithub{
    top: 93%;
    outline: greenyellow 2px dotted !important;
  }

  #leftUpperPanel, #leftLowerPanel, #letter, #text{
    display: none;
  }
  #leftPanel500pxClosed{
    display: block;
    outline: yellow 2px dotted;
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: #181818;
  }
  #hamburgerMenu500px{
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 0; /* Explicitly set the border width */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    z-index: 4;
  }
  .hiddenLeftPanel500px{
    height: inherit;
    width: 80vw;
    background-color: #181818;
    position: absolute;
    z-index: 3;
    transform: translateX(-100%); /* Hide it off-screen to the left */
    opacity: 0; /* Start with it being invisible */
    transition: opacity 0.5s, transform 0.5s; /* Animate both opacity and transform */
  }
  .hiddenLeftPanel500px.visible {
    transform: translateX(0); /* Move into view */
    opacity: 1; /* Make it fully visible */
  }
  #aboutButtonLeftPanelHidden, #projectsButtonLeftPanelHidden, #contactButtonLeftPanelHidden{
    background-color: transparent;
    font-family: "TikTok Font Regular", serif;
    font-size: 18px;
    box-shadow: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    color: white;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    border-bottom: none;
  }
  #contactButtonLeftPanelHidden{
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
  }
  #aboutButtonLeftPanelHidden:hover,
  #aboutButtonLeftPanelHidden:focus,
  #aboutButtonLeftPanelHidden:active,
  #projectsButtonLeftPanelHidden:hover,
  #projectsButtonLeftPanelHidden:focus,
  #projectsButtonLeftPanelHidden:active,
  #contactButtonLeftPanelHidden:hover,
  #contactButtonLeftPanelHidden:focus,
  #contactButtonLeftPanelHidden:active{
    cursor: pointer;
    outline: none;
    border-color: #555555; /* Maintain the border color on hover, focus, and active */
  }
  #hamburgerMenu500pxImage{
    height: 2vh;
    width: 6vw;
  }
}





@media only screen and (min-width: 335px) and (max-width: 500px) {

  #projectBoxOne, #projectBoxTwo {
    height: 37.5%;
  }
  #projectBoxThree, #projectBoxFour{
    height: 37.5%;
  }
  #projectsSection{
  }

  html{
    width: 86vw;
    height: fit-content;
  }
  html, body {
    margin: 0;
    padding: 0;
  }
  #heroshot{
    width: 100%;
  }
  #border{
    width: 100%;
    left: 54vw;
  }
  #runningWritingHeadClose{
    margin-left: 3vw;
    top: 3vh;
  }
  #runningWritingBodyOpen{
    margin-left: 3vw;
    top: 5vh;
  }
  #runningWritingH1Open{
    margin-left: 3vw;
    top: 11vh;
  }
  #runningWritingH1Close{
    left: 55vw;
    top: 14vh;
  }
  #runningWritingPOpen{
    margin-left: 10vw;
    top: 15vh;
  }
  #runningWritingPClose{
    margin-left: 10vw;
    top: 16vh;
  }

  #paraOne{
    margin-left: 10vw;
    font-size: 0.9rem;
    width: 84%;
    top: 16vh;
  }
  #scrollDown{
    margin-left: -10vw;
    top: 8vh;
  }
  #header1, #header2, #header3, .red, #danielText{
    font-size: 3rem;
  }
  #header2{
    width: 63vw !important;
  }
  .red {
    text-shadow: -5px 0 0 #00dfd8; /* Blue-ish shadow effect to the left */
  }
  #header1{
    top: 10vh;
    position: relative;
    margin-left: 5vw;
  }
  #header2{
    top: 12vh;
    position: relative;
    width: 150%;
    margin-left: 5vw;
  }
  #header3{
    top: 15vh;
    position: relative;
    margin-left: 5vw;
    line-height: 60px;
  }
  #leftUpperPanel, #leftLowerPanel, #letter, #text{
    display: none;
  }
  #leftPanel500pxClosed{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: #181818;
  }
  #hamburgerMenu500px{
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 0; /* Explicitly set the border width */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    z-index: 4;
  }
  .hiddenLeftPanel500px{
    height: inherit;
    width: 80vw;
    background-color: #181818;
    position: absolute;
    z-index: 3;
    transform: translateX(-100%); /* Hide it off-screen to the left */
    opacity: 0; /* Start with it being invisible */
    transition: opacity 0.5s, transform 0.5s; /* Animate both opacity and transform */
  }
  .hiddenLeftPanel500px.visible {
    transform: translateX(0); /* Move into view */
    opacity: 1; /* Make it fully visible */
  }

  #aboutButtonLeftPanelHidden, #projectsButtonLeftPanelHidden, #contactButtonLeftPanelHidden{
    background-color: transparent;
    font-family: "TikTok Font Regular", serif;
    font-size: 18px;
    box-shadow: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    color: white;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    border-bottom: none;
  }
  #contactButtonLeftPanelHidden{
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
  }
  #aboutButtonLeftPanelHidden:hover,
  #aboutButtonLeftPanelHidden:focus,
  #aboutButtonLeftPanelHidden:active,
  #projectsButtonLeftPanelHidden:hover,
  #projectsButtonLeftPanelHidden:focus,
  #projectsButtonLeftPanelHidden:active,
  #contactButtonLeftPanelHidden:hover,
  #contactButtonLeftPanelHidden:focus,
  #contactButtonLeftPanelHidden:active{
    cursor: pointer;
    outline: none;
    border-color: #555555; /* Maintain the border color on hover, focus, and active */
  }


  #hamburgerMenu500pxImage{
    height: 2vh;
    width: 6vw;
  }

  #aboutSection{
    width: 93%;
    left: 59%;
    height: 100vh;
  }
  #aboutSectionContainer{
    width: 99%;
    height: 100vh;
  }

  #aboutMeHeading, #mySkillsHeading{
    width: 50%;
    padding-top: 25px;
  }
  #aboutMeHeading{
    left: 0;
    margin-left: 0 !important;
    position: absolute;
    top: 0;
    font-size: 2rem;
  }
  #mySkillsHeading{
    left: 50%;
    position: absolute;
    top: 0;
    width: 50%;
    font-size: 2rem;
  }
  #textBoxAbout, #textBoxMySkills {
    width: 50%;
    height: fit-content;
  }
  #textBoxAbout{
    left: 0;
    margin-left: 0 !important;
    position: absolute;
    top: 10vh;
    width: 50% !important;
    font-size: 0.75rem;
    text-align: center;
    padding-top: 50px !important;
    padding-right: 0 !important;
  }
  #textBoxMySkills{
    left: 40%;
    position: absolute;
    top: 10vh;
    padding-top: 50px !important;
    padding-left: 0 !important;
  }
  #skillHTML, #skillCSS, #skillJS, #skillPython, #skillGithub, #skillBasicSQL, #skillJava, #skillFigma, #skillWebScraping, #skillReCaptchaAutomation, #skillIFTTTWebhook {
    background-color: #d5d5d5;
    color: #333;
    border: 1px solid #000000;
    border-radius: 15px; /* Adjust for rounded corners */
    padding: 6px 6px;
    display: inline-block;
    margin: 3px;
    font-size: 0.6em;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

  }




  #projectsSection{
    width: 93%;
    left: 59%;
    height: 150vh !important;
  }
  #projectsHeading{
    font-size: 2rem;
    padding-bottom: 30px;
  }
  #projectsDisplayContainer{
    width: 100%;
  }
  #projectBoxOne, #projectBoxTwo, #projectBoxThree, #projectBoxFour{
    width: 50%;
  }
  #projectBoxOne, #projectBoxTwo{
    margin-bottom: -100px;
  }
  #projectOneVideo, #projectTwoVideo, #projectThreeVideo, #projectFourVideo{
    height: 50%;
    width: 95%;
  }
  #projectBoxOneHead, #projectBoxTwoHead{
    top: 51%;
    font-size: 0.8em;
  }
  #projectBoxThreeHead, #projectBoxFourHead{
    top: 60%;
    font-size: 0.8em;
  }
  #projectBoxOneDescription, #projectBoxTwoDescription{
    top: 62%;
    font-size: 0.70em;
    height: fit-content;
  }
  #projectBoxThreeDescription, #projectBoxFourDescription{
    top: 71%;
    font-size: 0.70em;
    height: fit-content;

  }
  #projectOneGithub{
    width: 100%;
    height: fit-content;
    font-size: 0.70em;
    top: 107%;
  }
  #projectTwoGithub{
    width: 50%;
    top: 107%;
    height: fit-content;
    font-size: 0.70em;
    position: absolute;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectThreeGithub{
    width: 100%;
    top: 111%;
    height: fit-content;
    font-size: 0.70em;
    position: absolute;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectTwoWebsite{
    width: 50%;
    top: 107%;
    height: fit-content;
    font-size: 0.70em;
    position: absolute;
    left: 101%;
    transform: translateX(-101%);
  }
  #projectFourGithub{
    width: 50%;
    top: 111%;
    height: fit-content;
    font-size: 0.70em;
    position: absolute;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectFourWebsite{
    width: 50%;
    top: 111%;
    height: fit-content;
    font-size: 0.70em;
    position: absolute;
    left: 101%;
    transform: translateX(-101%);
  }
  #projectBoxThree, #projectBoxFour{
    padding-top: 25px;
  }



  #contactSection{
    width: 93%;
    left: 59%;
    height: 110vh;
  }
  #contactContainer{
    width: 100%;
  }
  #contactHeading{
    font-size: 2rem;
    height: fit-content;
    padding-bottom: 50px;
    top: -7.5%;
    padding-top: 0;

  }

  #contactCardOne, #contactCardTwo, #contactCardThree{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }

  #gmailContactUsername, #githubContactUsername, #linkedInContactUsername{
    font-size: 1rem;
  }


  #githubContact, #gmailContact, #linkedInContact{
    width: 32px;
    height: auto;
  }


  #runningWritingClickMeOpenOne{
    font-size: 1.25rem;
    left: 12%;
    top: 28%;
  }
  #runningWritingClickMeCloseOne{
    font-size: 1.25rem;
    top: 70%;
    left: 75%;
  }



  #footerTest{
    background-color: #181818;
    height: 20%;
    position: relative;
    width: 100vw !important;
  }
  #footerContainer{
    position: relative;
    height: 85%;
    width: 100% !important;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }


  #aboutFooterButton, #projectsFooterButton, #contactFooterButton{
    margin-top: 15px;
    background-color: transparent;
    font-family: "TikTok Font Regular", serif;
    font-size: 0.75em;
    box-shadow: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    width: fit-content;
    height: 10%;
    border-style: solid; /* Explicitly set the border style */
    border-width: 0; /* Explicitly set the border width */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
  }
  #createdByFooter{
    font-family: "TikTok Font Regular", serif;
    top: 25%;
    font-size: 0.5em;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #888888;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    height: fit-content;
    text-align: center;
    align-content: center;
  }

}


@media only screen and (min-width: 501px) and (max-width: 768px) {

  #header1, #header2, #header3{
    top: 150px;
  }
  #header1, #header2, #header3, .red, #danielText{
    font-size: 4rem;
  }
  #header2{
    padding-top: 20px;
  }
  #header3{
    line-height: 65px;
    padding-top: 20px;
  }
  #runningWritingH1Open{
    top: 16%;
  }
  #runningWritingH1Close{
    left: 55vw;
  }
  #paraOne{
    top: 140px;
    font-size: 1rem;
  }
  #runningWritingPOpen{
    top: 16.5%;
  }
  #runningWritingPClose{
    top: 16.5%;
  }
  #runningWritingPOpen, #runningWritingPClose, #paraOne {
    margin-left: 10%;
  }
  #scrollDown{
    margin-left: -7%;

  }

  #projectsHeading, #contactHeading{
    font-size: 2.75em;
  }

  #aboutSection{
    height: 100vh;
  }
  #aboutMeHeading, #mySkillsHeading{
    font-size: 2.75em;
    padding: 0;
    margin: 0;
    width: 50%;
    top: -5%;
  }
  #textBoxAbout, #textBoxMySkills{
    width: 50%;
    padding: 0;
    margin: 0;
  }
  #textBoxAbout{
    font-size: 0.9rem;
  }
  #skillHTML, #skillCSS, #skillJS, #skillPython, #skillGithub, #skillBasicSQL, #skillJava, #skillFigma, #skillWebScraping, #skillReCaptchaAutomation, #skillIFTTTWebhook {
    background-color: #d5d5d5;
    color: #333;
    border: 1px solid #000000;
    border-radius: 20px; /* Adjust for rounded corners */
    padding: 10px 16px;
    display: inline-block;
    margin: 5px;
    font-size: 0.9em;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }


  #projectsDisplayContainer{
    width: 100%;
  }
  #projectBoxOne, #projectBoxTwo, #projectBoxThree, #projectBoxFour{
    width: 50%;
  }
  #projectBoxOne, #projectBoxTwo{
    margin-bottom: 75px;
  }
  #projectOneVideo, #projectTwoVideo, #projectThreeVideo, #projectFourVideo{
    height: 50%;
    width: 95%;
  }
  #projectBoxOneHead, #projectBoxTwoHead, #projectBoxThreeHead, #projectBoxFourHead{
    top: 200px;
    width: 100%;
    font-size: 0.8em;
  }
  #projectBoxOneDescription, #projectBoxTwoDescription, #projectBoxThreeDescription, #projectBoxFourDescription{
    top: 57.5%;
    font-size: 0.70em;
    height: fit-content;
  }
  #projectOneGithub, #projectTwoGithub, #projectTwoWebsite, #projectThreeGithub, #projectFourGithub, #projectFourWebsite{
    font-size: 0.8em;
  }
  #projectOneGithub{
    top: 82%;
    width: 100%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectTwoGithub{
    top: 82%;
    width: 50%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectTwoWebsite{
    top: 82%;
    width: 50%;
    height: fit-content;
    left: 101%;
    transform: translateX(-101%);
  }
  #projectThreeGithub{
    top: 78%;
    width: 100%;
  }
  #projectFourGithub{
    top: 78%;
    width: 50%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectFourWebsite{
    top: 78%;
    width: 50%;
    height: fit-content;
    left: 101%;
    transform: translateX(-101%);
  }


  #leftUpperPanel, #leftLowerPanel, #letter, #text{
    display: none;
  }
  #leftPanel500pxClosed{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: #181818;
  }
  #hamburgerMenu500px{
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 0; /* Explicitly set the border width */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    z-index: 4;
  }
  .hiddenLeftPanel500px{
    height: inherit;
    width: 80vw;
    background-color: #181818;
    position: absolute;
    z-index: 3;
    transform: translateX(-100%); /* Hide it off-screen to the left */
    opacity: 0; /* Start with it being invisible */
    transition: opacity 0.5s, transform 0.5s; /* Animate both opacity and transform */
  }
  .hiddenLeftPanel500px.visible {
    transform: translateX(0); /* Move into view */
    opacity: 1; /* Make it fully visible */
  }
  #aboutButtonLeftPanelHidden, #projectsButtonLeftPanelHidden, #contactButtonLeftPanelHidden{
    background-color: transparent;
    font-family: "TikTok Font Regular", serif;
    font-size: 18px;
    box-shadow: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    color: white;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    border-bottom: none;
  }
  #contactButtonLeftPanelHidden{
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
  }
  #aboutButtonLeftPanelHidden:hover,
  #aboutButtonLeftPanelHidden:focus,
  #aboutButtonLeftPanelHidden:active,
  #projectsButtonLeftPanelHidden:hover,
  #projectsButtonLeftPanelHidden:focus,
  #projectsButtonLeftPanelHidden:active,
  #contactButtonLeftPanelHidden:hover,
  #contactButtonLeftPanelHidden:focus,
  #contactButtonLeftPanelHidden:active{
    cursor: pointer;
    outline: none;
    border-color: #555555; /* Maintain the border color on hover, focus, and active */
  }
  #hamburgerMenu500pxImage{
    height: 2vh;
    width: 6vw;
  }

}



@media only screen and (min-width: 769px) and (max-width: 821px) {

  #aboutMeHeading, #mySkillsHeading, #projectsHeading, #contactHeading{
    font-size: 2.5em;
  }

  #header1, #header2, #header3{
    top: 150px;
  }
  #header1, #header2, #header3, .red, #danielText{
    font-size: 4rem;
  }
  #header2{
    padding-top: 20px;
  }
  #header3{
    line-height: 65px;
    padding-top: 20px;
  }
  #runningWritingH1Open{
    top: 14%;
  }
  #runningWritingH1Close{
    left: 82.5%;
  }
  #paraOne{
    top: 16.75%;
    font-size: 1rem;
  }
  #runningWritingPOpen{
    top: 16.5%;
  }
  #runningWritingPClose{
    top: 16.5%;
  }
  #runningWritingPOpen, #runningWritingPClose, #paraOne {
    margin-left: 10%;
  }
  #scrollDown{
    margin-left: -5%;

  }



  #aboutMeHeading, #mySkillsHeading{
    width: 50%;
    font-size: 2.75em;
    padding: 0;
    padding-bottom: 50px !important;
    margin: 0;
    top: -10%;
  }
  #textBoxAbout, #textBoxMySkills{
    width: 50%;
    margin: 0;
    padding: 0;
    top: -10%;
    height: 80%;
  }
  #textBoxAbout{
    font-size: 1rem;
  }
  #skillHTML, #skillCSS, #skillJS, #skillPython, #skillGithub, #skillBasicSQL, #skillJava, #skillFigma, #skillWebScraping, #skillReCaptchaAutomation, #skillIFTTTWebhook {
    background-color: #d5d5d5;
    color: #333;
    border: 1px solid #000000;
    border-radius: 20px; /* Adjust for rounded corners */
    padding: 10px 16px;
    display: inline-block;
    margin: 5px;
    font-size: 0.9em;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  #aboutSection{
    height: 100vh !important;
  }


  #projectsDisplayContainer{
    width: 100%;
  }
  #projectBoxOne, #projectBoxTwo, #projectBoxThree, #projectBoxFour{
    width: 50%;
  }
  #projectOneVideo, #projectTwoVideo, #projectThreeVideo, #projectFourVideo{
    height: 50%;
    width: 95%;
  }
  #projectBoxOneHead, #projectBoxTwoHead, #projectBoxThreeHead, #projectBoxFourHead{
    top: 200px;
    width: 100%;
    font-size: 0.8em;
  }
  #projectBoxOneDescription, #projectBoxTwoDescription, #projectBoxThreeDescription, #projectBoxFourDescription{
    top: 57.5%;
    font-size: 0.70em;
    height: fit-content;

  }
  #projectOneGithub, #projectTwoGithub, #projectTwoWebsite, #projectThreeGithub, #projectFourGithub, #projectFourWebsite{
    font-size: 0.8em;
  }
  #projectOneGithub{
    top: 74%;
    width: 100%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectTwoGithub{
    top: 74%;
    width: 50%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectTwoWebsite{
    top: 74%;
    width: 50%;
    height: fit-content;
    left: 101%;
    transform: translateX(-101%);
  }
  #projectThreeGithub{
    top: 70%;
    width: 100%;
  }
  #projectFourGithub{
    top: 70%;
    width: 50%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectFourWebsite{
    top: 70%;
    width: 50%;
    height: fit-content;
    left: 101%;
    transform: translateX(-101%);
  }


  #leftUpperPanel, #leftLowerPanel, #letter, #text{
    display: none;
  }
  #leftPanel500pxClosed{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: #181818;
  }
  #hamburgerMenu500px{
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 0; /* Explicitly set the border width */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    z-index: 4;
  }
  .hiddenLeftPanel500px{
    height: inherit;
    width: 80vw;
    background-color: #181818;
    position: absolute;
    z-index: 3;
    transform: translateX(-100%); /* Hide it off-screen to the left */
    opacity: 0; /* Start with it being invisible */
    transition: opacity 0.5s, transform 0.5s; /* Animate both opacity and transform */
  }
  .hiddenLeftPanel500px.visible {
    transform: translateX(0); /* Move into view */
    opacity: 1; /* Make it fully visible */
  }
  #aboutButtonLeftPanelHidden, #projectsButtonLeftPanelHidden, #contactButtonLeftPanelHidden{
    background-color: transparent;
    font-family: "TikTok Font Regular", serif;
    font-size: 18px;
    box-shadow: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    color: white;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    border-bottom: none;
  }
  #contactButtonLeftPanelHidden{
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
  }
  #aboutButtonLeftPanelHidden:hover,
  #aboutButtonLeftPanelHidden:focus,
  #aboutButtonLeftPanelHidden:active,
  #projectsButtonLeftPanelHidden:hover,
  #projectsButtonLeftPanelHidden:focus,
  #projectsButtonLeftPanelHidden:active,
  #contactButtonLeftPanelHidden:hover,
  #contactButtonLeftPanelHidden:focus,
  #contactButtonLeftPanelHidden:active{
    cursor: pointer;
    outline: none;
    border-color: #555555; /* Maintain the border color on hover, focus, and active */
  }
  #hamburgerMenu500pxImage{
    height: 2vh;
    width: 6vw;
  }
}


@media only screen and (min-width: 822px) and (max-width: 1024px) {


  #header1, #header2, #header3{
    top: 8% !important;
  }
  #header1, #header2, #header3, .red, #danielText{
    font-size: 5.5rem;
  }
  #header2{
    padding-top: 20px;
  }
  #header3{
    line-height: 85px;
    padding-top: 20px;
  }
  #runningWritingH1Open{
    top: 10%;
    display: none;
  }
  #runningWritingH1Close{
    left: 82.5%;
    display: none;
  }
  #paraOne{
    top: 16.75%;
    font-size: 1rem;
  }
  #runningWritingPOpen{
    top: 16.5%;
  }
  #runningWritingPClose{
    top: 16.5%;
  }
  #runningWritingPOpen, #runningWritingPClose, #paraOne {
    margin-left: 10%;
  }
  #scrollDown{
    margin-left: -2%;
    top: 6%;
  }


  #aboutSection{
    height: 80vh !important;
  }
  #aboutMeHeading, #mySkillsHeading{
    width: 50%;
    font-size: 3.25em;
    padding: 0;
    padding-bottom: 15% !important;
    margin: 0;
    top: -5%;
  }
  #projectsHeading, #contactHeading{
    font-size: 3.25em;
  }
  #textBoxAbout, #textBoxMySkills{
    width: 50%;
    margin: 0;
    padding: 0;
    top: -10%;
    height: 80%;
  }
  #textBoxAbout{
    font-size: 1rem;
  }
  #skillHTML, #skillCSS, #skillJS, #skillPython, #skillGithub, #skillBasicSQL, #skillJava, #skillFigma, #skillWebScraping, #skillReCaptchaAutomation, #skillIFTTTWebhook {
    background-color: #d5d5d5;
    color: #333;
    border: 1px solid #000000;
    border-radius: 20px; /* Adjust for rounded corners */
    padding: 15px 25px;
    display: inline-block;
    margin: 5px;
    font-size: 0.9em;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  #aboutSection{
    height: 100vh !important;
  }


  #projectsDisplayContainer{
    width: 100%;
  }
  #projectBoxOne, #projectBoxTwo, #projectBoxThree, #projectBoxFour{
    width: 50%;
  }
  #projectOneVideo, #projectTwoVideo, #projectThreeVideo, #projectFourVideo{
    height: 50%;
    width: 95%;
  }
  #projectBoxOneHead, #projectBoxTwoHead, #projectBoxThreeHead, #projectBoxFourHead{
    top: 200px;
    width: 100%;
    font-size: 0.8em;
  }
  #projectBoxOneDescription, #projectBoxTwoDescription, #projectBoxThreeDescription, #projectBoxFourDescription{
    top: 57.5%;
    font-size: 0.70em;
    height: fit-content;

  }
  #projectOneGithub, #projectTwoGithub, #projectTwoWebsite, #projectThreeGithub, #projectFourGithub, #projectFourWebsite{
    font-size: 0.8em;
  }
  #projectOneGithub{
    top: 74%;
    width: 100%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectTwoGithub{
    top: 74%;
    width: 50%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectTwoWebsite{
    top: 74%;
    width: 50%;
    height: fit-content;
    left: 101%;
    transform: translateX(-101%);
  }
  #projectThreeGithub{
    top: 70%;
    width: 100%;
  }
  #projectFourGithub{
    top: 70%;
    width: 50%;
    height: fit-content;
    left: 1%;
    transform: translateX(-1%);
  }
  #projectFourWebsite{
    top: 70%;
    width: 50%;
    height: fit-content;
    left: 101%;
    transform: translateX(-101%);
  }


  #leftUpperPanel, #leftLowerPanel, #letter, #text{
    display: none;
  }
  #leftPanel500pxClosed{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: #181818;
  }
  #hamburgerMenu500px{
    top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: transparent;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 0; /* Explicitly set the border width */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    z-index: 4;
  }
  .hiddenLeftPanel500px{
    height: inherit;
    width: 80vw;
    background-color: #181818;
    position: absolute;
    z-index: 3;
    transform: translateX(-100%); /* Hide it off-screen to the left */
    opacity: 0; /* Start with it being invisible */
    transition: opacity 0.5s, transform 0.5s; /* Animate both opacity and transform */
  }
  .hiddenLeftPanel500px.visible {
    transform: translateX(0); /* Move into view */
    opacity: 1; /* Make it fully visible */
  }
  #aboutButtonLeftPanelHidden, #projectsButtonLeftPanelHidden, #contactButtonLeftPanelHidden{
    background-color: transparent;
    font-family: "TikTok Font Regular", serif;
    font-size: 18px;
    box-shadow: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    color: white;
    outline: none;
    text-decoration: none;
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    border-bottom: none;
  }
  #contactButtonLeftPanelHidden{
    padding: 0;
    margin: 0;
    border-style: solid; /* Explicitly set the border style */
    border-width: 1px; /* Explicitly set the border width */
    border-color: #555555; /* Set the border color for all sides */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
  }
  #aboutButtonLeftPanelHidden:hover,
  #aboutButtonLeftPanelHidden:focus,
  #aboutButtonLeftPanelHidden:active,
  #projectsButtonLeftPanelHidden:hover,
  #projectsButtonLeftPanelHidden:focus,
  #projectsButtonLeftPanelHidden:active,
  #contactButtonLeftPanelHidden:hover,
  #contactButtonLeftPanelHidden:focus,
  #contactButtonLeftPanelHidden:active{
    cursor: pointer;
    outline: none;
    border-color: #555555; /* Maintain the border color on hover, focus, and active */
  }
  #hamburgerMenu500pxImage{
    height: 2vh;
    width: 4vw;
  }


}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {



}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
