/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #1c1c1c;
  height: 2000px;
}


@font-face {
  font-family: 'TikTok Font Bold';
  src: url('/fonts/TikTok Sans Bold.woff2') format('woff2'),
  url('/fonts/TikTok Sans Bold.woff') format('woff'),
  url('/fonts/TikTok Sans Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TikTok Font Regular';
  src: url('/fonts/TikTok Sans Regular.woff2') format('woff2'),
  url('/fonts/TikTok Sans Regular.woff') format('woff'),
  url('/fonts/TikTok Sans Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#border{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100vh;
}

#header1{
  top: 20vh;
  position: relative;
  font-size: 100px;
  color: white;
}
#header2{
  font-size: 100px;
  top: 20vh;
  position: relative;
  color: white;
  margin-top: -30px;
}
.red {
  font-size: 120px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #fd3851; /* Primary color for the text */
  text-shadow: -7px 0px 0px #00dfd8; /* Blue-ish shadow effect to the left */
}

#danielText{
  margin-left: -32px !important;
  letter-spacing: -2px;
  display: inline-block;
  color: #ffffff; /* Primary color for the text */
  transition: transform 0.2s ease;
  /* Initial state */
  transform: translateY(0);
}

#header3{
  font-size: 100px;
  top: 20vh;
  position: relative;
  color: white;
  margin-top: -30px;
}

#paraOne{
  position: relative;
  color: #555555;
  font-size: 24px;
  top: 24vh;
  font-family: "TikTok Font Regular", serif;
  margin-left: 50px;
}

#header1, #header2, #header3, .red, #danielText{
  margin-left: 50px;
  font-family: "TikTok Font Bold", serif;
}


.bounce {
  animation: bounce 0.5s ease forwards;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

#leftUpperPanel{
  background-color: black;
  position: absolute;
  height: 25%;
  width: 10%;
  top: 0;
  left: 0;
}


#letter{
  position: absolute;
  height: 25%;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 120px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  color: #fd3851; /* Primary color for the text */
  text-shadow: -7px 0px 0px #00dfd8; /* Blue-ish shadow effect to the left */
  font-family: "TikTok Font Bold", serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 2;
}

#text{
  position: absolute;
  height: 25%;
  width: 100%;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "TikTok Font Regular", serif;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 2;
  color: #555555;
}


#leftLowerPanel{
  background-color: #181818;
  position: absolute;
  height: 76%;
  width: 10%;
  top: 25%;
  left: 0;
}
#aboutButtonLeftPanel {
  background-color: transparent;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  box-shadow: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  outline: none;
  text-decoration: none;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  border-style: solid; /* Explicitly set the border style */
  border-width: 1px; /* Explicitly set the border width */
  border-color: #555555; /* Set the border color for all sides */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
}
#aboutButtonLeftPanel:hover,
#aboutButtonLeftPanel:focus,
#aboutButtonLeftPanel:active {
  cursor: pointer;
  outline: none;
  border-color: #555555; /* Maintain the border color on hover, focus, and active */
}

#projectsButtonLeftPanel{
  background-color: transparent;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  box-shadow: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  outline: none;
  text-decoration: none;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  border-style: solid; /* Explicitly set the border style */
  border-width: 1px; /* Explicitly set the border width */
  border-color: #555555; /* Set the border color for all sides */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
  border-top: none;
}
#projectsButtonLeftPanel:hover,
#projectsButtonLeftPanel:focus,
#projectsButtonLeftPanel:active {
  cursor: pointer;
  outline: none;
  border-color: #555555; /* Maintain the border color on hover, focus, and active */
}


#contactButtonLeftPanel{
  background-color: transparent;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  box-shadow: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  outline: none;
  text-decoration: none;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  border-style: solid; /* Explicitly set the border style */
  border-width: 1px; /* Explicitly set the border width */
  border-color: #555555; /* Set the border color for all sides */
  border-left: none; /* Remove left border */
  border-right: none; /* Remove right border */
  border-top: none;
}
#contactButtonLeftPanel:hover,
#contactButtonLeftPanel:focus,
#contactButtonLeftPanel:active {
  cursor: pointer;
  outline: none;
  border-color: #555555; /* Maintain the border color on hover, focus, and active */
}


#linkedInButton{
  position: relative;
  left: 27.5%;
  top: 2%;
  width: 30px;
  height: 30px;
}
#gitHubButton{
  position: relative;
  left: 40%;
  top: 2%;
  width: 30px;
  height: 30px;
}

#scrollDown{
  position: relative;
  left: -2%;
  top: 40%;
  width: fit-content;
  color: white;
  font-family: "TikTok Font Regular";
  font-size: 18px;
  transform: rotate(90deg);
}

#aboutSection {
  outline: red 2px dotted;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 100vh;
  top: 101vh;
}


#headingAbout{
  font-family: "TikTok Font Bold", serif;
  font-size: 64px;
  margin-left: 50px;
  margin-top: 50px;
  color: #00e0d7; /* Primary color for the text */
}

#textBoxAbout{
  outline: blue 2px dotted;
  height: fit-content;
  width: 35%;
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
  color: white;
  font-family: "TikTok Font Regular", serif;
  font-size: 18px;
  text-align: left;
}























@media only screen and (max-width: 500px) {
  /* Styles here will only be applied to screens with a width of 600px or less */
  html {
    background-color: lightblue;
  }

  .responsive-text {
    font-size: 14px;
  }

  /* Add other styles as needed */
}






/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

